h1 {
	font-family: 'Arimo', sans-serif;
	font-size: 50px;
	color: #423AA8;
	text-shadow: hsl(278,100%,56%) 1px -1px, hsl(278,100%,56%) 2px -2px, hsl(278,100%,56%) 3px -3px;
}

h2 {
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	color: #783AA8;
	text-shadow: hsl(216,100%,54%) -1px 1px, hsl(216,100%,54%) -2px 2px;
}

h3	{
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	color: #3A6AA8;
}